.pagina-historia{
    padding: 40px;
    background: #fffaf5;
}

/* HEADER */

.header-historia{
    background: #f5e4c8;
    padding: 40px;
    border-radius: 20px;
    margin-bottom: 40px;
}

.header-historia h1{
    font-size: 60px;
    color: #6b3f1d;
}

.header-historia p{
    font-size: 22px;
    margin-top: 20px;
}

.img-header{
    width: 300px;
}

/* CARDS */

.mini-card .card-body{
    text-align: left;
}

.mini-card img{
    display: block;
    margin: 0 auto 20px auto;
}

/* LATERAL */

.columna-lateral{
    width: 28%;

    display: flex;
    flex-direction: column;

    gap: 25px;
}

.mini-card{
    background: #f8f1ea;

    padding: 25px;

    border-radius: 20px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

    text-align: center;
}

/* IMAGEN */
.mini-card img{
    width: 100%;
    max-width: 320px;

    border-radius: 20px;

    display: block;

    margin: 0 auto 20px auto;
}

.btn-cafe{
    background:#7a4b2a;
    color:#fff;
    padding:10px 20px;
    border-radius:8px;
    text-decoration:none;
    display:inline-block;
}

/* CONTENIDO PRINCIPAL */

.bloque-info{
    background: #f8f1ea;
    border-radius: 20px;
}

.bloque-info h2{
    color: #7a4b2a;
    margin-bottom: 20px;
}

/* CARDS */

.uso-card{
    border-left: 6px solid #c99b6b;
    border-radius: 15px;
}
/* RECETAS */

.receta-card{
    border-radius: 20px;
}

/* BOTON */

.btn-receta{
    margin-top: 15px;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    background: #c99b6b;
    color: white;
    transition: 0.3s;
}

.btn-receta:hover{
    background: #b88858;
}

/* MODAL */

.modal-receta{
    border-radius: 20px;
    overflow: hidden;
}

.img-modal-receta{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.titulo-receta{
    color: #7a4b2a;
    margin-bottom: 20px;
}

.modal-body h5{
    margin-top: 20px;
    color: #a56d3f;
}

.modal-body ul,
.modal-body ol{
    margin-top: 10px;
}

/* FOOTER */

.footer-historia{
    margin-top: 40px;
    background: #f5e4c8;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
}
