        body{
            background:#f5f3ef;
        }

        .portada{
            background:#b7dcb5;
            min-height:100vh;
            display:flex;
            align-items:center;
        }

        .titulo{
            color:#6b4f3b;
            font-weight:bold;
        }

        .card-info{
            border:none;
            border-radius:18px;
        }

        .objetivo{
            background:#d8f3dc;
        }

        .funcionamiento{
            background:#dbeeff;
        }

        .impacto{
            background:#f3dfcf;
        }

        .reflexion{
            background:#eee1f7;
        }