<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blogs Educativos</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/inicio.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

  <div class="contenedor-cards">

    <div class="card-blog quimica">

      <img class="titulo-img" src="{{ url_for('static', filename='img/titulo_quimica.png') }}">

      <div class="texto-principal">
        <p>
          Explora la química de los alimentos: desde nutrientes y vitaminas
          hasta reacciones químicas que ocurren en nuestro cuerpo.
        </p>
      </div>

      <img class="centro" src="{{ url_for('static', filename='img/centro_quimica.png') }}">

      <div class="info-box">

        <p class="info-text">
          Haz click para explorar más información sobre química y salud.
        </p>

        <!-- BOTÓN REDIRIGIENDO A QUIMICA.HTML -->
        <a href="{{ url_for('quimica') }}" class="circle-btn">

          <img src="{{ url_for('static', filename='img/boton_quimica.png') }}">

        </a>

      </div>

    </div>

    <div class="card-blog historia">

      <!-- titulo -->
      <img class="titulo-img" src="{{ url_for('static', filename='img/titulo_historia.png') }}">

      <div class="texto-principal">
        <p>
          Viaja en el tiempo y conoce la historia del nopal, un ingrediente tradicional mexicano lleno de cultura, beneficios y deliciosas recetas saludables.
        </p>
      </div>

      <img class="centro" src="{{ url_for('static', filename='img/centro_historia.png') }}">

      <div class="info-box">

        <p class="info-text">
          Haz click para explorar su historia, usos y una receta saludable.
        </p>

        <!-- boton circulo -->
         <a href="{{ url_for('historia') }}" class="circle-btn">

          <img src="{{ url_for('static', filename='img/boton_historia.png') }}">
        </a>

      </div>

    </div>

    <div class="card-blog imc">

      <img class="titulo-img" src="{{ url_for('static', filename='img/titulo_calcu.png') }}">

      <div class="texto-principal">
        <p>
          Calcula tu indice de Masa Corporal (IMC) de forma rapida y sencilla. Conoce tu estado nutricional segun tu peso y estatura.
        </p>
      </div>

      <img class="centro" src="{{ url_for('static', filename='img/centro_calcu.png') }}">

      <div class="info-box">

        <p class="info-text">
          Haz click y descubre recomendaciones personalizadas para mejorar tu salud.
        </p>

        <a href="{{ url_for('imc') }}" class="circle-btn">

          <img src="{{ url_for('static', filename='img/boton_calcu.png') }}">

        </a>

      </div>

    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>